{{define "title"}}{{.Entry.Title}}{{end}}

{{define "body"}}
<div id="sec1">
  <header>
    <h1><a href="/blogs/{{.Blog.Path}}">{{.Blog.Title}}</a></h1>
    <p>{{.Blog.Description}}</p>
    {{if .IsAuthor}}
    <p><a href="/my/blogs/{{.Blog.Path}}">管理</a></p>
    {{end}}
  </header>
  <div id="sec2">
    <div id="article">
      <header>
        <h1><a href="/blogs/{{.Blog.Path}}/entries/{{.Entry.ID}}">{{.Entry.Title}}</a></h1>
        <p>{{.Entry.PublishedAt}}</p>
        {{if .IsAuthor}}
        <p><a href="/my/blogs/{{.Blog.Path}}/entries/{{.Entry.ID}}">編集</a></p>
        {{end}}
      </header>
      <div id="sec3">{{.Entry.BodyHTML | unescapedHTML}}</div>
    </div>
  </div>
</div>
{{end}}
